body{
	background-color: #fff;
	font-family: 'lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
.main-nav li{
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
	color: rgba(255, 255, 255, 0.979);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	
}
.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px dotted rgb(236, 235, 229);
}
.main-nav{
	float: right;
	list-style: none;
    margin-top: 15px;
    padding-right: 50px;
    font-size: 20px;
}
/******sticky navigation bar*/

.sticky-bar{
        z-index: 500px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: hsl(0, 100%, 4%);
        box-shadow: 0 2px 2px #ffffff;
    }
    .sticky.main-nav li a:link,
    .sticky.main-nav li a:visited{
        padding: 8px 0;
        color: rgb(54, 13, 13);
    }
.home{
    background-image: linear-gradient(rgba(75, 3, 45, 0.726), rgba(39, 6, 31, 0.835)),url(img/save-money.jpg);
	background-position: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-box{
    text-align: center;
    display: inline-block;
    font-weight: 300;
    font-size: 40px;
    color: aliceblue;
    margin: 0;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

button{
    display:inline-block;
    color: rgb(219, 6, 138);
	padding: 10px 40px;
    font-weight: 400;
    font-size: 25px;
	text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
	transition: background-color 0.2s, border 0.2s, color 0.2s; /***for border and color to change when hover it in 0.2second**/
}
button:hover, /***hover shows what will happen when will put the mouse on the button***/
button:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color: #11040a;
}
body{
	background-color: #fff;
	font-family: 'lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
.home{
    background-image: linear-gradient(rgba(75, 3, 45, 0.726), rgba(39, 6, 31, 0.835)),url(img/save-money.jpg);
	background-position: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-box{
    text-align: center;
    display: inline-block;
    font-weight: 300;
    font-size: 40px;
    color: aliceblue;
    margin: 0;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

button{
    display:inline-block;
    color: rgb(219, 6, 138);
	padding: 10px 40px;
    font-weight: 400;
    font-size: 25px;
	text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
	transition: background-color 0.2s, border 0.2s, color 0.2s; /***for border and color to change when hover it in 0.2second**/
}
button:hover, /***hover shows what will happen when will put the mouse on the button***/
button:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color: #11040a;
}
/**FORM STYLE**/

/**SIGNUP STYLE**/
#signup{
    background-image: linear-gradient(rgba(75, 3, 45, 0.726), rgba(39, 6, 31, 0.835)),url(img/skyline.jpg);
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
	background-position: center;
	height: 100vh;
    background-attachment: fixed;
}
#signup .signup-box{
    width: 325px;
    height: 350px;
    background: rgba(59, 61, 61, 0.192);
    color: rgba(255, 255, 255, 0);
    margin-top: 285px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(250, 249, 247);
    margin-left: 50%;
    padding: 20px;
}

#signup .signup-box input{
    width: 100%;
    margin-bottom: 20px;
}
#signup .signup-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: rgb(252, 252, 252);
    font-size: 15px;
}
::placeholder{
    color: rgba(255, 255, 255, 0.541);
}
#signup .signup-box input[type="submit"]{
    border: none;
    outline: none;
    background: #0c97e7b2;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
}
#signup .signup-box input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(19, 121, 124, 0.959);
    color: #fff
}
#signup .already-registered{
    text-decoration: none;
    margin-top: 10px;
    color: aliceblue;
    font-size: 18px;
}
#signup p{
    padding-top: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    text-shadow: rgba(212, 4, 4, 0.972)

}
#signup .already-registered:hover{
    cursor: pointer;
    color: rgb(10, 102, 250);
}

/**LOGIN STYLE**/

#login{
    background-image: linear-gradient(rgba(90, 5, 62, 0.753), rgba(0, 0, 0, 0.842)), url(img/skyline.jpg);
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
	background-position: center;
	height: 100vh;
    background-attachment: fixed;
}
#login .login-box{
    width: 325px;
    height: 350px;
    background: rgba(59, 61, 61, 0.192);
    color: rgba(255, 255, 255, 0);
    margin-top: 285px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(250, 249, 247);
    margin-left: 50%;
    padding: 20px;
}
#login p{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
#login .login-box input{
    width: 100%;
    margin-bottom: 20px;
}
#login .login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: rgb(252, 252, 252);
    font-size: 18px;
}
#login .login-box input[type="submit"]{
    border: none;
    outline: none;
    background: #0c97e7b2;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    margin-top: 40px;
    padding: 10px;
}
#login .login-box input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(19, 121, 124, 0.959);
    color: #fff
}
#login .login-box a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(252, 248, 248);
    margin-left: 5px;
}
#login .login-box #noAccount{
    text-decoration: none;
    font-size: 15px;
    color: rgb(12, 143, 160);
    padding: 5px;
}
#login .login-box #noAccount a:hover{
    color: rgb(2, 31, 77);
}

#login .login-box a:hover{
    color: rgb(245, 10, 10);
}

